{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <h1>Change Password</h1>

    <form method = "post">
        {% csrf_token %}
        <table>
            {% for i in changePasswordForm %}
                <tr>
                    <td>{{ i.label }}</td>
                    <td>{{ i }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type = "submit" class = "button" value = "Change Password">
        <a href = "{% url 'account:account' %}" class = "button">Cancel</a>
    </form>

    {% if changePasswordForm.errors %}
        </br>
        <h2>Your password could not be changed because...</h2>
        {% for field in changePasswordForm %}
            {{ field.errors }}
        {% endfor %}
    {% endif %}
{% endblock %}
